black==23.7.0
clip @ git+https://github.com/openai/CLIP.git
einops>=0.6.1
fairscale>=0.4.13
matplotlib>=3.7.2
numpy>=1.24.4,<2.0.0
omegaconf>=2.3.0
open-clip-torch==2.24.0
pillow>=9.5.0
pytorch-lightning==1.8.5
pyyaml>=6.0.1
tokenizers>=0.19,<0.20
--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.1+cu117
torchvision==0.14.1+cu117
tqdm>=4.65.0
transformers @ git+https://github.com/huggingface/transformers.git@v4.42.4
triton==2.0.0
xformers==0.0.16